body{
    background-color: black;
}

h1{
    color: white;
    background-color: red;
    padding: 10px;
    text-align: center;
}

p{
    color: white;
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: darkblue;
}